.image{
    background-color: #F5F5F5;
    height:12rem;
}

.card{
    padding: 0px;
    margin: 1rem;
}

.icon{
    font-size: 18px;
    margin-right: 5px;
    color: gray;
}

.heart{
    color: red;
    display: none;
}

.action{
    font-size: 80px;
}